WCF_Tenta/UserNewsApp/UserNewsApp/Service References/UserNewsAppService/UserNewsAppService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserNewsAppService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50996/UserNewsAppService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50996/UserNewsAppService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50996/UserNewsAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UserNewsAppService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserNewsAppService_GetAllNewsPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNewsPosts" />
  </wsdl:message>
  <wsdl:message name="IUserNewsAppService_GetAllNewsPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNewsPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserNewsAppService_GetFilteredNewsPosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredNewsPosts" />
  </wsdl:message>
  <wsdl:message name="IUserNewsAppService_GetFilteredNewsPosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilteredNewsPostsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserNewsAppService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IUserNewsAppService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserNewsAppService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IUserNewsAppService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserNewsAppService">
    <wsdl:operation name="GetAllNewsPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserNewsAppService/GetAllNewsPosts" message="tns:IUserNewsAppService_GetAllNewsPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserNewsAppService/GetAllNewsPostsResponse" message="tns:IUserNewsAppService_GetAllNewsPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilteredNewsPosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserNewsAppService/GetFilteredNewsPosts" message="tns:IUserNewsAppService_GetFilteredNewsPosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserNewsAppService/GetFilteredNewsPostsResponse" message="tns:IUserNewsAppService_GetFilteredNewsPosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserNewsAppService/Subscribe" message="tns:IUserNewsAppService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserNewsAppService/SubscribeResponse" message="tns:IUserNewsAppService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserNewsAppService/Unsubscribe" message="tns:IUserNewsAppService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserNewsAppService/UnsubscribeResponse" message="tns:IUserNewsAppService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserNewsAppService" type="tns:IUserNewsAppService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllNewsPosts">
      <soap:operation soapAction="http://tempuri.org/IUserNewsAppService/GetAllNewsPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilteredNewsPosts">
      <soap:operation soapAction="http://tempuri.org/IUserNewsAppService/GetFilteredNewsPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://tempuri.org/IUserNewsAppService/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap:operation soapAction="http://tempuri.org/IUserNewsAppService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserNewsAppService">
    <wsdl:port name="BasicHttpBinding_IUserNewsAppService" binding="tns:BasicHttpBinding_IUserNewsAppService">
      <soap:address location="http://localhost:50996/UserNewsAppService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>