WCF_Tenta/UserNewsApp/UserNewsApp/Service References/UserNewsAppService/UserNewsAppService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserNewsAppService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserNewsAppService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserNewsPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserNewsPost" nillable="true" type="tns:UserNewsPost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserNewsPost" nillable="true" type="tns:ArrayOfUserNewsPost" />
  <xs:complexType name="UserNewsPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorId" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Tags" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WrittenBy" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserNewsPost" nillable="true" type="tns:UserNewsPost" />
</xs:schema>