WCF_Tenta/WCF_Admin/WCF_Admin/Service References/EmailService/EmailService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendEmailToSubscribers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="header" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailToSubscribersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>